/* App.css */
.container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: #e8e1e1;
}


.min-vh-100 {
  min-height: 100vh;
}


.navbar {
  display: flex;
  gap: 20px;
  background-color: #882121;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 70%;
}

.navbar a {
  color: rgb(118, 39, 39);
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

input,
select
 {
  margin-top: 8px;
  margin-bottom: 12px;
  padding: 8px;
  width: 100%;
  max-width: 400px;
  display: block;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  /* background-color: #45a049; */
}

.property-card {
  border: 1px solid #ad8137;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 16px;
  background-color: #f3f1ed;
}

h2 {
  color: #333;
}

